    <mat-tab-group mat-align-tabs="center">
      <mat-tab 
        label="MISIÓN"
      >
        <span fxLayout="row"
          >Somos una Asociación sin ánimo de lucro que trabaja por la
          Reivindicación y promoción de los derechos humanos, territoriales,
          sociales, económicos, culturales, ambientales y/o políticos de las
          Comunidades Negras, Afrocolombianas, Raizales o Palenqueras, desde la
          perspectiva étnica, dentro del marco de la diversidad etnocultural que
          caracteriza al país.</span
        >
      </mat-tab>
      <mat-tab label="VISIÓN">
        <span
          >Para el año 2023 ser pioneros en la formación virtual para la
          productividad cultural y social de los afrocolombianos en sus
          territorios étnicos.</span
        >
      </mat-tab>
      <mat-tab label="PRINCIPIOS">
        <ul>
          <li>Autonomía económica.</li>
          <li>Horizontalidad dialógica.</li>
        </ul>
      </mat-tab>
    </mat-tab-group><br>
  <div >
    <h2 style="text-align: center;">HISTORIA</h2>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat unde
      praesentium sed quae voluptate, voluptas earum illum deleniti ducimus
      voluptatem aperiam optio in, minus similique itaque fuga vitae libero
      ab?</span
    >
  </div>

